@model Product

<br />
<div class="container">
    <h3>@(Model.Id == 0 ? "Thêm mới sản phẩm." : $"Chỉnh sửa sản phẩm: {Model.Name}.")</h3>
    <form method="post" asp-action="Upsert">
        <div class="form-group">
            <label asp-for="Name">Tên sản phẩm</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="d-flex flex-row flex-direction-row">
            <div class="form-floating col-md-6">
                <label asp-for="Price">Giá</label>
                <input asp-for="Price" type="number" class="form-control">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-floating col-md-6">
                <label asp-for="CategoryId">Thể Loại</label>
                <select asp-for="CategoryId" asp-items="@ViewBag.CategoriesList" class="form-control">
                    <option disabled selected>Chọn Thể Loại</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group textbox-container">
            <label asp-for="ImageUrls">Hình ảnh</label>
            <button type="button" class="btn btn-success" onclick="cloneInputField()">+</button>
            <br />
            <span asp-validation-for="ImageUrls" class="text-danger"></span>

            @{
                if (Model.ImageUrls.Count > 0)
                {
                    for (int i = 0; i < Model.ImageUrls.Count; i++)
                    {
                        <div class="input-group mt-2">
                            <input asp-for="ImageUrls" type="text" class="form-control" placeholder="Image URL" value="@Model.ImageUrls[i]" required>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-danger" onclick="removeCloneInputField(this)">-</button>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="input-group mt-2">
                        <input asp-for="ImageUrls" type="text" class="form-control" placeholder="Image URL" value="" required>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-danger" onclick="removeCloneInputField(this)">-</button>
                        </div>
                    </div>
                }
            }
        </div>
        <br />
        <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Thêm mới" : "Cập nhật")</button> <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
<br />

<script>
    function cloneInputField() {
        // Clone the existing input field
        var $newInput = $('div.input-group')?.first().clone();

        // Clear the value of the cloned input field
        $newInput.find('input[type="text"]').val('');

        // Append the new input field to a container element
        $('div.textbox-container').append($newInput);
    }

    function removeCloneInputField(button) {
        var inputGroup = button.parentElement.parentElement;
        if (inputGroup.parentElement.querySelectorAll('.input-group').length > 1) {
            inputGroup.remove();
        } else {
            var input = inputGroup.querySelector('input');
            input.value = ''; // Clear the value of the input
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}