<br />
<div class="container">
    <p>
        <a asp-controller="CategoryManager" asp-action="Index" class="link-offset-2 link-underline link-underline-opacity-75">Tùy chỉnh THỂ LOẠI</a>
    </p>
    <p>
        <a asp-controller="ProductManager" asp-action="Index"
            class="link-offset-2 link-underline link-underline-opacity-75">Tùy chỉnh SẢN PHẨM</a>
    </p>
    <hr />
    <div style="text-align: center;">
        <a style="text-align: center;" asp-area="Customer" asp-controller="Home" asp-action="Index">Back to Customer</a>
    </div>
    <br />
</div>